.button
{
	-fx-background-color: #405D91;
	-fx-font-size: 12;
	-fx-font-family: "Comic Sans MS";
	-fx-text-fill: #ffffff;
}
.button:hover
{
	-fx-background-color: #AFC4EC;
}
.button:pressed
{
	-fx-background-color: #858AD9;
}

